<form action="/admin" class="loginForm" method="POST">

<label for="username"><b>Username</b></label>
<input type="text" placeholder="Enter Username" name="username">

<label for="password"><b>Password</b></label>
<input type="password" name="password" placeholder="Enter Password">

<button type="submit">Sign In</button>

</form>

<!-- <h2>Register</h2>
<form action="/register" class="loginForm" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">
    
    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter Password">
    
    <button type="submit">Register</button>
    
    </form> -->