<div class="searchBar">        
        <form action="/search" role="search" method="POST">

            <input 
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search for...">
        </form>
        <button type="reset" id="searchClose">Close</button>
</div>