<form class="contactForm" >
    <label for="name">Full Name</label>
    <input type="text">

    <label for="email">Email</label>
    <input type="email">

    <label for="content">Content</label>
    <textarea cols="50" rows="5"></textarea>

    <button type="submit">Send</button>
</form> 