<section class="blogs">
    <h2 class="blogHeading">Latest Posts</h2>

    <ul class="blogList">

        <% data.forEach(blog => { %>        
        <li>
            <a href="/blog/<%= blog._id %>">
                <span id="blogTitle"><%= blog.title %></span>
                <span class="blogListDate"><%= blog.createdAt.toDateString() %></span>
                <hr>
            </a>
        </li>    
        <% }) %>    
    </ul>
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination"> &lt; View Older Posts</a>
    <% } %>
    
</section> 