<div class="author">
    <h1 class="authorHeading">Search Results</h1>
</div>

<section class="articles">
    <ul class="blogList">
        <% if(data.length>0){
         data.forEach(blog => { %>        
        <li>
            <a href="/blog/<%= blog._id %>">
                <span id="blogTitle"><%= blog.title %></span>
                <span class="blogListDate"><%= blog.createdAt.toDateString() %></span>
                <hr>
            </a>
        </li> <% })} else{%>  
            <h1 id="emptySearch">No results match your Search</h1> 
        <% } %>    
    </ul>
</section>